In [1]:
PATH = '../ipl/'

In [2]:
import numpy as np
import pandas as pd
%matplotlib inline

In [3]:
deliveries=pd.read_csv(f'{PATH}deliveries.csv')

In [4]:
matches = pd.read_csv(f'{PATH}newMatches.csv')

In [5]:
matches=matches.drop('Unnamed: 0',axis=1)

In [6]:
RCB = 'Royal Challengers Bangalore'
MI = 'Mumbai Indians'
CSK = 'Chennai Super Kings'
SRH = 'Sunrisers Hyderabad'
KKR = 'Kolkata Knight Riders'
RR =  'Rajasthan Royals'
DD = 'Delhi Daredevils'
KXIP = 'Kings XI Punjab'

SRHmatches = matches[(matches.team1==SRH) | (matches.team2==SRH)];
RCBmatches = matches[(matches.team1==RCB) | (matches.team2==RCB)];
KKRmatches = matches[(matches.team1==KKR) | (matches.team2==KKR)];
RRmatches = matches[(matches.team1==RR) | (matches.team2==RR)];
MImatches = matches[(matches.team1==MI) | (matches.team2==MI)];
CSKmatches = matches[(matches.team1==CSK) | (matches.team2==CSK)];
DDmatches = matches[(matches.team1==DD) | (matches.team2==DD)];
KXIPmatches = matches[(matches.team1==KXIP) | (matches.team2==KXIP)];

In [ ]:
matches.head()

Team = RR;
TeammatchesPlayed = matches[(matches.team1==Team) | (matches.team2==Team)]
print('Matches Played : {}'.format(len(TeammatchesPlayed)))

Teamwon = TeammatchesPlayed[(TeammatchesPlayed.winner==Team)];
print('Matches won : {}'.format(len(Teamwon)))

Tosswon = TeammatchesPlayed[(TeammatchesPlayed.toss_winner==Team)];
print('Toss won : {}'.format(len(Tosswon)))

TeamChoose = Tosswon[Tosswon.toss_decision=='field']
print('Choose fielding : {}'.format(len(TeamChoose)))

TeamwonAndTosswon = TeammatchesPlayed[(TeammatchesPlayed.toss_winner==Team)&(TeammatchesPlayed.winner==Team)]
print('Toss won & matches won : {}'.format(len(TeamwonAndTosswon)))

TwonMwonfielding = TeamwonAndTosswon[TeamwonAndTosswon.toss_decision=='field']
print('Toss won & chose fielding & matches won : {}'.format(len(TwonMwonfielding)) )

Team = RR;
city = 'Jaipur'
TeammatchesPlayed = matches[(matches.team1==Team) | (matches.team2==Team)]
TeammatchesPlayed = TeammatchesPlayed[TeammatchesPlayed.city==city]
print('Matches Played : {}'.format(len(TeammatchesPlayed)))

Teamwon = TeammatchesPlayed[(TeammatchesPlayed.winner==Team)];
print('Matches won : {}'.format(len(Teamwon)))

Tosswon = TeammatchesPlayed[(TeammatchesPlayed.toss_winner==Team)];
print('Toss won : {}'.format(len(Tosswon)))

TeamChoose = Tosswon[Tosswon.toss_decision=='field']
print('Choose fielding : {}'.format(len(TeamChoose)))

TeamwonAndTosswon = TeammatchesPlayed[(TeammatchesPlayed.toss_winner==Team)&(TeammatchesPlayed.winner==Team)]
print('Toss won & matches won : {}'.format(len(TeamwonAndTosswon)))

TwonMwonfielding = TeamwonAndTosswon[TeamwonAndTosswon.toss_decision=='field']
print('Toss won & chose fielding & matches won : {}'.format(len(TwonMwonfielding)) )

matches.city.unique()

RCBmatches = matches[(matches.team1==RCB) | (matches.team2==RCB)]

[RCBmatches[RCBmatches.season==years].winner.iloc[0] for years in range(2008,2018)]

# Finding Batting second

In [42]:

Allteam1=matches.team1;
Allteam2=matches.team2;
AlltossDecisions = matches.toss_decision;
AlltossWinners=matches.toss_winner;
secondBatting=[];

for (team1,team2,tossDec,tossWin) in zip(Allteam1,Allteam2,AlltossDecisions,AlltossWinners) :
    if(tossDec=='field'):
        secondBatting.append(tossWin);
    else:
        if tossWin==team1 :
            secondBatting.append(team2);
        else:
            secondBatting.append(team1);

In [17]:
matches[(matches.city=='Chennai') & (matches.toss_decision=='field') & (matches.winner==matches.toss_winner)].head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,secondBatting
84,85,2008,Chennai,2008-05-06,Chennai Super Kings,Deccan Chargers,Deccan Chargers,field,normal,0,Deccan Chargers,0,7,AC Gilchrist,"MA Chidambaram Stadium, Chepauk",MR Benson,RB Tiffin,NaN,Deccan Chargers
307,308,2012,Chennai,2012-04-04,Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,8,RE Levi,"MA Chidambaram Stadium, Chepauk",JD Cloete,SJA Taufel,NaN,Mumbai Indians
363,364,2012,Chennai,2012-05-12,Delhi Daredevils,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,9,BW Hilfenhaus,"MA Chidambaram Stadium, Chepauk",S Das,BR Doctrove,NaN,Chennai Super Kings
395,396,2013,Chennai,2013-04-13,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,4,RA Jadeja,"MA Chidambaram Stadium, Chepauk",Asad Rauf,AK Chaudhary,NaN,Chennai Super Kings

In [7]:
HomeTeam=SRH;
AwayTeam=MI;
city = 'Hyderabad';
HomeTeammatches = matches[(matches.team1==HomeTeam) | (matches.team2==HomeTeam)];

AwayTeammatches = matches[(matches.team1==AwayTeam) | (matches.team2==AwayTeam)];

Home_AwayTeammatches = AwayTeammatches[(AwayTeammatches.team1==HomeTeam) | (AwayTeammatches.team2==HomeTeam)]

len(Home_AwayTeammatches)
print('# Matches Played at {} : {}'.format(city,len(matches[matches.city==city])))

cityMatches=matches[matches.city==city];
batSecondwon = cityMatches[(cityMatches.winner==cityMatches.secondBatting)]

print('Batting second won : {}'.format(len(batSecondwon)))
print('Battig first won :{}'.format(len(matches[matches.city==city])-len(batSecondwon)))

tossWonBatSecond = cityMatches[cityMatches.toss_winner==cityMatches.secondBatting]
print('Toss won and Batted second : {}'.format(len(tossWonBatSecond)))

tossWonBatSecondWon = tossWonBatSecond[tossWonBatSecond.winner==tossWonBatSecond.secondBatting]
print('Toss won and Batted second and won : {}'.format(len(tossWonBatSecondWon)))

# Matches Played at Hyderabad : 49
Batting second won : 30
Battig first won :19
Toss won and Batted second : 26
Toss won and Batted second and won : 12

In [8]:

print('#{} at {}'.format(HomeTeam,city))

HomeTeamHome = HomeTeammatches[HomeTeammatches.city==city]
print('Played : {}'.format(len(HomeTeamHome)))

HomeTeamHomewon = HomeTeamHome[HomeTeamHome.winner==HomeTeam]
print('Won : {}'.format(len(HomeTeamHomewon)))

TossWon = HomeTeamHome[HomeTeamHome.toss_winner==HomeTeam]
print('Toss won : {}'.format(len(TossWon)))

TossWonSecondBatting = HomeTeamHome[(HomeTeamHome.toss_decision=='field') & (HomeTeamHome.toss_winner==HomeTeam)]
print('Toss won & chose feilding : {}'.format(len(TossWonSecondBatting)))


print('#{} at {}'.format(AwayTeam,city))

AwayTeamCity = AwayTeammatches[AwayTeammatches.city==city]
print('Played : {}'.format(len(AwayTeamCity)))

AwayTeamwon = AwayTeamCity[AwayTeamCity.winner==AwayTeam]
print('Won : {}'.format(len(AwayTeamwon)))

AwayTeamTossWon = AwayTeamCity[AwayTeamCity.toss_winner==AwayTeam]
print('Toss won : {}'.format(len(AwayTeamTossWon)))

AwayTossWonSecondBatting = AwayTeamCity[(AwayTeamCity.toss_decision=='field') & (AwayTeamCity.toss_winner==AwayTeam)]
print('Toss won & chose fielding : {}'.format(len(AwayTossWonSecondBatting)))

#Sunrisers Hyderabad at Hyderabad
Played : 30
Won : 20
Toss won : 14
Toss won & chose feilding : 6
#Mumbai Indians at Hyderabad
Played : 8
Won : 5
Toss won : 3
Toss won & chose fielding : 0

# Stats for each stadium

In [ ]:
matches['AliasTeam']=matches.

In [18]:
stadiums = matches.venue.unique();

In [25]:
for i,z in enumerate(matches.city.unique()):
    print(i,z)

0 Hyderabad
1 Pune
2 Rajkot
3 Indore
4 Bangalore
5 Mumbai
6 Kolkata
7 Delhi
8 Chandigarh
9 Kanpur
10 Jaipur
11 Chennai
12 Cape Town
13 Port Elizabeth
14 Durban
15 Centurion
16 East London
17 Johannesburg
18 Kimberley
19 Bloemfontein
20 Ahmedabad
21 Cuttack
22 Nagpur
23 Dharamsala
24 Kochi
25 Visakhapatnam
26 Raipur
27 Ranchi
28 Abu Dhabi
29 Sharjah
30 nan

In [23]:
for i,z in enumerate(stadiums):
    print(i,z)

0 Rajiv Gandhi International Stadium, Uppal
1 Maharashtra Cricket Association Stadium
2 Saurashtra Cricket Association Stadium
3 Holkar Cricket Stadium
4 M Chinnaswamy Stadium
5 Wankhede Stadium
6 Eden Gardens
7 Feroz Shah Kotla
8 Punjab Cricket Association IS Bindra Stadium, Mohali
9 Green Park
10 Punjab Cricket Association Stadium, Mohali
11 Sawai Mansingh Stadium
12 MA Chidambaram Stadium, Chepauk
13 Dr DY Patil Sports Academy
14 Newlands
15 St George's Park
16 Kingsmead
17 SuperSport Park
18 Buffalo Park
19 New Wanderers Stadium
20 De Beers Diamond Oval
21 OUTsurance Oval
22 Brabourne Stadium
23 Sardar Patel Stadium, Motera
24 Barabati Stadium
25 Vidarbha Cricket Association Stadium, Jamtha
26 Himachal Pradesh Cricket Association Stadium
27 Nehru Stadium
28 Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium
29 Subrata Roy Sahara Stadium
30 Shaheed Veer Narayan Singh International Stadium
31 JSCA International Stadium Complex
32 Sheikh Zayed Stadium
33 Sharjah Cricket Stadium
34 Dubai International Cricket Stadium

In [77]:
eval('SRH')

'Sunrisers Hyderabad'

In [78]:
teams=matches.winner.unique();
Mystadiums = stadiums[[0,1,3,4,5,6,7,8,11]]
myteams=['SRH','DD','RR','RCB','MI','KKR','CSK','KXIP']

In [84]:
for tmpStadium in Mystadiums:
    mats=matches[matches.venue==tmpStadium]
    print('Venue : {}'.format(tmpStadium));
    print('Matches Played :{}'.format(len(mats)))
    print('Batting Second won : {}'.format(len(mats[mats.winner==mats.secondBatting])));
    print('Team : won/matchesPlayed - Won Batting Second')
    for aliastmpteam in myteams:
        #tmpteam=myteams[0];
        tmpteam=eval(aliastmpteam)
        tmpTeamMats=mats[(mats.team1==tmpteam)|(mats.team2==tmpteam)]
        played=len(tmpTeamMats);
        won=len(tmpTeamMats[tmpTeamMats.winner==tmpteam])
        tmpTeambattingSecond=len(tmpTeamMats[(tmpTeamMats.secondBatting==tmpteam) & (tmpTeamMats.winner==tmpteam)])
        print('#{} : {}/{} - {}'.format(aliastmpteam,won,played,tmpTeambattingSecond))
    print('#IPL2018 #IPL11 #Stats #IPL')
    input();

Venue : Rajiv Gandhi International Stadium, Uppal
Matches Played :49
Batting Second won : 30
Team : won/matchesPlayed - Won Batting Second
#SRH : 20/30 - 11
#DD : 4/6 - 4
#RR : 2/4 - 2
#RCB : 2/8 - 2
#MI : 5/8 - 2
#KKR : 4/6 - 2
#CSK : 2/3 - 1
#KXIP : 4/8 - 3
#IPL2018 #IPL11 #Stats #IPL

Venue : Maharashtra Cricket Association Stadium
Matches Played :15
Batting Second won : 10
Team : won/matchesPlayed - Won Batting Second
#SRH : 0/1 - 0
#DD : 2/2 - 1
#RR : 1/2 - 0
#RCB : 2/3 - 0
#MI : 1/2 - 1
#KKR : 3/3 - 3
#CSK : 0/0 - 0
#KXIP : 0/4 - 0
#IPL2018 #IPL11 #Stats #IPL

Venue : Holkar Cricket Stadium
Matches Played :5
Batting Second won : 5
Team : won/matchesPlayed - Won Batting Second
#SRH : 0/0 - 0
#DD : 0/0 - 0
#RR : 0/1 - 0
#RCB : 0/1 - 0
#MI : 1/1 - 1
#KKR : 0/0 - 0
#CSK : 0/0 - 0
#KXIP : 3/4 - 3
#IPL2018 #IPL11 #Stats #IPL

Venue : M Chinnaswamy Stadium
Matches Played :66
Batting Second won : 37
Team : won/matchesPlayed - Won Batting Second
#SRH : 2/6 - 1
#DD : 3/8 - 2
#RR : 3/6 - 2
#RCB : 30/62 - 16
#MI : 8/10 - 6
#KKR : 6/11 - 4
#CSK : 4/7 - 1
#KXIP : 5/10 - 3
#IPL2018 #IPL11 #Stats #IPL

Venue : Wankhede Stadium
Matches Played :57
Batting Second won : 28
Team : won/matchesPlayed - Won Batting Second
#SRH : 0/3 - 0
#DD : 1/7 - 1
#RR : 2/6 - 1
#RCB : 3/8 - 2
#MI : 34/53 - 16
#KKR : 1/7 - 0
#CSK : 4/10 - 4
#KXIP : 5/9 - 1
#IPL2018 #IPL11 #Stats #IPL

Venue : Eden Gardens
Matches Played :61
Batting Second won : 38
Team : won/matchesPlayed - Won Batting Second
#SRH : 0/5 - 0
#DD : 1/7 - 1
#RR : 1/6 - 1
#RCB : 3/8 - 3
#MI : 9/11 - 5
#KKR : 37/58 - 21
#CSK : 4/9 - 3
#KXIP : 2/9 - 1
#IPL2018 #IPL11 #Stats #IPL

Venue : Feroz Shah Kotla
Matches Played :60
Batting Second won : 32
Team : won/matchesPlayed - Won Batting Second
#SRH : 4/6 - 3
#DD : 23/56 - 10
#RR : 4/7 - 3
#RCB : 5/7 - 2
#MI : 3/9 - 1
#KKR : 5/8 - 4
#CSK : 5/6 - 3
#KXIP : 4/9 - 4
#IPL2018 #IPL11 #Stats #IPL

Venue : Punjab Cricket Association IS Bindra Stadium, Mohali
Matches Played :11
Batting Second won : 6
Team : won/matchesPlayed - Won Batting Second
#SRH : 2/2 - 1
#DD : 0/2 - 0
#RR : 0/0 - 0
#RCB : 1/1 - 0
#MI : 1/1 - 0
#KKR : 1/2 - 1
#CSK : 0/0 - 0
#KXIP : 4/11 - 2
#IPL2018 #IPL11 #Stats #IPL

Venue : Sawai Mansingh Stadium
Matches Played :33
Batting Second won : 23
Team : won/matchesPlayed - Won Batting Second
#SRH : 0/1 - 0
#DD : 1/4 - 1
#RR : 24/33 - 17
#RCB : 3/5 - 2
#MI : 2/5 - 1
#KKR : 1/4 - 1
#CSK : 2/4 - 1
#KXIP : 0/4 - 0
#IPL2018 #IPL11 #Stats #IPL




# RCB last 5 overs

In [7]:
matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,secondBatting
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,Royal Challengers Bangalore
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,Rising Pune Supergiant
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,Kolkata Knight Riders
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,Kings XI Punjab
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN,Delhi Daredevils

In [8]:
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [11]:

RCBBowling1st = RCBmatches[RCBmatches.secondBatting==RCB]

In [13]:
RCBBowling2nd = RCBmatches[RCBmatches.secondBatting!=RCB]

In [18]:
RCBdeliveries = deliveries[deliveries.bowling_team==RCB]

In [21]:
aa=RCBdeliveries.groupby('over').total_runs.sum()

In [24]:
aa.iloc[15:].sum()

6350

In [25]:
6350/152

41.776315789473685

In [28]:
RCBdeliveries.groupby('over').ball.count().iloc[15:].sum()

4002

In [30]:
6350/(4002/6)

9.52023988005997

In [31]:
ids=[1,2,3,4]

In [46]:
print('Year          Avg ECO Rate')
for year in range(2008,2018):
    #year=2008
    yearIds=matches[matches.season==year].id.unique()

    RCBdeliveries = deliveries[deliveries.match_id.isin(yearIds)]

    totalRuns=RCBdeliveries.groupby('over').total_runs.sum().iloc[15:].sum()
    totalDeli=RCBdeliveries.groupby('over').ball.count().iloc[15:].sum()

    print('{}          {}'.format(year,totalRuns/(totalDeli/6)))
    #print('Avg ECO Rate : {}'.format(totalRuns/(totalDeli/6)))

Year          Avg ECO Rate
2008          9.56011315417256
2009          8.764725024406118
2010          9.209936382914268
2011          8.742395693135936
2012          9.174572127139365
2013          9.223944669687574
2014          9.619895609456554
2015          9.856727976766699
2016          9.688144329896906
2017          9.221319467013323